#current-weather {
  display: grid;
  margin-top: 15px;
}
form {
  text-align: center;
}
#current-weather > p {
  display: inline;
}

header {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-template-rows: repeat(1fr, 3);
}
#future-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1;
  gap: 5px;
}

#current-weather,
section[id^="day"] {
  color: white;
  text-align: center;
}

#current-weather {
  border-radius: 2%;
}
section[id^="day"] {
  border-radius: 3%;
}
#future-weather-heading {
  display: none;
}

input {
  width: 200px;
}
#loading-modal {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}
#loading-content {
  font-size: 35px;
  border: 5px solid red;
  margin-top: 15vh;
  background-color: white;
}

input:focus:invalid {
  outline: 1px solid red;
}
input:focus:valid {
  outline: 1px solid green;
}

#error-span {
  text-align: center;
  display: block;
  justify-content: center;
  font-size: 1.5rem;
}