#current-weather {
  display: grid;
}

#current-weather > p {
  display: inline;
}

header {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-template-rows: repeat(1fr, 3);
}
#future-days {
  display: grid;
  grid-template-columns: 7;
  grid-template-rows: 1;
}

#future-days > section {
  display: inline;
  width: calc(100% / 7);
}

#current-weather,
section[id^="day"] {
  color: white;
  text-align: center;
}

#current-weather {
  border-radius: 2%;
}
section[id^="day"] {
  border-radius: 3%;
}
